* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    flex-direction: column;
}


header {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

header > img {
    width: 100px;
    height: 100px;
}

nav {
    float: right;
    margin-top: 40px;
}
nav > a {
    padding-left: 30px;
    font-size: 15px;
}

nav > a:link, a:visited {
    color: black;
    text-decoration: none;
}
nav > a:hover, a:active {
    color: purple;
}

main {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: center;
}

main > div {
    width: 40%;
}
div > p:nth-of-type(1) {
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 0%;
}
div > p:nth-of-type(2) {
margin-top: 0%;
font-size: 45px;
font-weight: bolder;
position: relative;
}

div > p:nth-of-type(2):after {
        position: absolute;
        content: "";
        width: 150px;
        height: 3px;
        background-color: #55337a;
        bottom: -14px;
        left: 2px;
}

div > p:nth-of-type(3) {
    margin-top: 2px;
    font-size: 15px;
    
}
.div2 {
    text-transform: uppercase;
    margin-top: 50px;
}
.div2 > a:nth-of-type(1) {
    color: azure;
    background-color: #55337a;
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
}
.div2 > a:nth-of-type(1):hover {
    opacity: 0.7;
}

.div2 > a:nth-of-type(2) {
    border-color: #55337a;
    border-style: solid;
    color: #55337a;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
}
.div2 > a:nth-of-type(2):hover {
    opacity: 0.7;
}
main > img {
    float: right;
    width: 40%;
}
footer {
height: 90px;
}
footer > div {
    display: inline-block;
}
.fa {
    padding: 10px;
    font-size: 15px;
    width: 40px;
    text-align: right;
    text-decoration: none;
    margin: 7px 2px;
    border-radius: 50%;
    background: none;
    }
.fa:hover {
    opacity: 0.5;
    }

.fa-instagram {
    margin-left: 5px;
}

footer > p {
    float: right;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}